<div class="border-top bg-light footer-bottom mt-3 py-3">
  <footer class="container small">
    <div class="row">
      <div class="col-12 text-center">
        <span class="d-block mb-3 text-muted">Copyright © <a class="text-muted" href="http://vyroll.xyz/">Vyroll.xyz</a></span>
      </div>
      <div class="col-6">
        <h5><a class="text-body" href="/contact/">Contact:</a></h5>
        <ul class="list-unstyled">
          <li><span class="text-muted"><%= fa_icon("user") %> Łukasz Nosal</span></li>
          <li><span class="text-muted"><%= fa_icon("at") %></span> <a href="mailto:lukasz.nosal@protonmail.com" class="text-muted">Lukasz.nosal@protonmail.com</a></li>
          <li><span class="text-muted"><%= fa_icon("linkedin") %></span> <a href="https://linkedin.com/in/lukasz-nosal/" class="text-muted">Linkedin</a></li>
          <li><span class="text-muted"><%= fa_icon("github") %></span> <a href="https://github.com/Vyroll" class="text-muted">Github</a></li>
        </ul>
      </div>
      <div class="col-6">
        <h5>Quick links:</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path, class:"text-muted" %></li>
          <li><%= link_to "Articles", articles_path, class:"text-muted" %></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
